body {
    background-image: url("https://images.pexels.com/photos/851555/pexels-photo-851555.jpeg?cs=srgb&dl=pexels-jason-villanueva-851555.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Odibee Sans', cursive;
    color: #FFA033;
    -webkit-text-stroke: 1px black;
    z-index: 1;
}
hr {
    border: 10px solid #582F0E;
    z-index: 5;
}
p {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #F3D5B5;
    -webkit-text-stroke: 1px black;
}
span {
    /*font-weight: bolder;*/
    text-underline: black;
    font-size: 18px;
}

.coffee-pic {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    z-index: -10;
}
#coffees {
    height: 600px;
}
#diamond {
    position: absolute;
    opacity: 30%;
}

#diamond-shield {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 20px solid white;
    position: relative;
    top: -50px;
    /*z-index: -1;*/
}
#diamond-shield:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid white;
}

#roast-selection {
     height: 100%;
 }